@media screen and (min-width: 320px) {
    .container {
        max-width: 320px;
    }
}






@media screen and (min-width: 768px) {
    .container {
        max-width: 768px;
    }
        .portfolio-list-content {
            flex-basis: calc((100% - 24px) / 2);  
            }
        .portfolio-list {
        gap: 16px;
        }
                .personal-backgraund {
                    flex-basis: calc((100% - 24px) / 2);
                    max-width: 264px;
                    
                    }
                    .personal-list {
                    gap: 64px 24px;
                    justify-content: center;
                                        }
        .logo-footer {
            display: inline-block;
        }
                .footer-social-text {
                    text-align: left;
                }
           .footer-sosial-cont {
            margin-left: 24px;
           }
                   .form-text {
                    text-align: left;
                   }
        .footer-form-conteiner {
            margin-right: auto;
            margin-left: 0;
        }
   .tehnology-list-content {
    flex-basis: calc((100% - 24px) / 2);
   }
   .tehnology_title {
    text-align: left;
   }
   .herotitle {
       font-size: 56px;
   }

   .herobutton {
       margin-top: 36px;
   }

   .herosection {
       background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/pipleofiseplanshet.jpg);
   }
   .modal-window {
    width: 408px;
    min-height: 584px;
    flex-shrink: 0;
   }
   .adress-list {
    gap: 12px;
    flex-direction: column;
   }
   .heder-menu-button {
       display: none;
   }
   .curent::after {
    background-color: #FFF;
   }

}


@media screen and (min-width: 1158px) {
    .container {
        max-width: 1158px;
        padding-left: 15px;
        padding-right: 15px;
    }
        .portfolio-list-content {
            flex-basis: calc((100% - 48px) / 3);
            
        }
    .portfolio-list {
     gap: 48px 24px;
        }
   .personal-backgraund {
     flex-basis: calc((100% - 72px) / 4);
     }
                
    .personal-list {
    gap: 24px;
    justify-content: center;
     }
           .footer-form-conteiner {
            margin-right: 0;
           }
    .footer-sosial-cont {
     margin-left: 120px;
    }
        .texnology-icons-cont {
            display: grid;
        }
         .tehnology-list-content {
            flex-basis: calc((100% - 3 * 24px) / 4);
         }
   .tehnology_title {
    font-weight: 500;
        font-size: 20px;
   }
   .tehnology_text {
    font-size: 16px;
        font-weight: 400;
   }
   .herobutton {
       margin-top: 48px;
   }

   .herosection {
       background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/peopleoffice.jpg);
   }
.adress-list {
    gap: 40px;
    flex-direction: row;
}
  .curent::after {
      background-color: #404bbf;
  }
   
}
 @media screen and (max-width: 767.98px) {
     .adress {
         display: none;
     }

     .nav-list {
         display: none;
     }
       
 }

 @media only screen and (min-resolution: 192dpi) {
     .herosection {
         background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/people-office-mob-x2.jpg);
         max-width: 320px;
     }
 }


 @media only screen and (min-resolution: 192dpi) and (min-width: 768px)  {
     .herosection {
         background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/people-office-planset-x2.jpg);
         max-width: 768px;
     }
    }

        @media only screen and (min-resolution: 192dpi) and (min-width: 1158px) {
            .herosection {
                background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/people-office-displey-x2.jpg);
                max-width: 1158px;
            }
        }