body {
    color: #434455;
    background-color: #FFFFFF;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
   }
   p,
   h1,
   h2,
   h3,
   h4,
   h5,
   h6 {
       margin: 0;
   }

   img {
       display: block;
       max-width: 100%;
       height: auto;
   }
   a {
    text-decoration: none;
   }
   ul {
       list-style-type: none;
       margin: 0% auto;
    padding: 0;
   }
   button {
       font-family: inherit;
   }
   .container {
    
    width: 1158px;
       margin: 0 auto;
    padding: 0 15px
   }
   .conteiner-header {
    display: flex;
    

   }
/* heder */
.header {
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 1px 6px rgba(46, 47, 66, 0.08);
}



.heder-nav {
    display: flex;
    align-items: center;

}
.nav-list {
    display: flex;
    gap: 40px;
}
.adress-list {
    display: flex;
    gap: 40px;
}
.logo {
    display: flex;
    align-items: center;
    margin-right: 76px;
    color: #4D5AE5;
        font-size: 18px;
        font-style: normal;
        font-weight: 700;
        line-height: 1.17;
        letter-spacing: 0.54px;
        text-transform: uppercase;
        font-family: "Raleway", sans-serif;
        
        }
        
.studio {
    color: #2E2F42;
        font-family: "Raleway", sans-serif;
        font-size: 18px;
        font-style: normal;
        font-weight: 700;
        line-height: 1,17;
        letter-spacing: 0.54px;
        text-transform: uppercase;
}



.listheader {
    display: inline-block;
    padding: 24px 0;
    color:#2E2F42;
        font-family: Roboto;
            font-size: 16px;
            font-style: normal;
            font-weight: 500;
            line-height: 24px;
            letter-spacing: 0.32px;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.curent {
    position: relative;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        color: #404bbf;

}
.listheader:hover {
    color: #404bbf;
}
.listheader:focus {
    color: #404bbf;
}
.curent::after {
    color: #404bbf;
    content: "";
    position: absolute;
    left: 0;
    bottom: -1px;
    height: 4px;
    border-radius: 2px;
    background-color: #404bbf;
    width: 100%;
    
}
.adress{
    display: flex;
        align-items: center;
    font-style: normal;
    margin-left: auto;

}
.adress-list {
    display: flex;
    gap: 40px;
}

.adresslisttext {
transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    color: #434455;
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0.32px;
        font-style: normal;
}
.adresslisttext:hover {
    color: #404bbf;
}
.adresslisttext:focus {
    color: #404bbf;
}
/* HERO SECTION */
.herosection {
background-color: #2E2F42;
padding: 188px 0;
background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/peopleoffice.jpg);
max-width: 1440px;
background-repeat: no-repeat;
background-position: center;
background-size: cover;
margin: 0 auto;

}
.herotitle {
    color: #FFF;
        text-align: center;
        font-size: 56px;
        font-style: normal;
        font-weight: 700;
        line-height: 1.07;
        letter-spacing: 1.12px;
        max-width: 496px;
       margin-right: auto;
       margin-left: auto;
}
.herobutton {
    background-color: #4D5AE5;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer;
    min-width: 169px;
    height: 56px;
    border: none;
    display: block;
    border-radius: 4px;
    margin-top: 48px;
  margin-right: auto;
  margin-left: auto;
transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    

}
.herobutton:hover {
    background-color: #404BBF;

}
.herobutton:focus {
    background-color: #404BBF;
}
.tehnologysection {
    background: #FFF;
    padding: 120px 0;
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
.texnology-icons-cont {
display: flex;
height: 112px;
background-color: #f4f4fd;
border-radius: 4px;
margin-bottom: 8px;
align-items: center;
justify-content: center;
}
.tehnology-list{
display: flex;
gap: 24px;
}
.tehnology-list-content {
flex-basis: calc((100% - 3 * 24px) / 4);

}
.tehnology_title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
} 
.tehnology_text {
    line-height: 1.5;
    letter-spacing: 0.02em;
}
/* END OF TEHNOLOGY section */
/* Start Personal sec */
.personal-section {
    background-color: #F4F4FD;
    padding: 120px 0;
}
.personal-list {
display: flex;
gap: 24px;

}
.personal-title {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
    margin-bottom: 72px;

}
.personal-backgraund {
    background-color: #FFFFFF;
    flex-basis: calc((100% - 72px) / 4);
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 2px 1px rgba(46, 47, 66, 0.08);
}
.personal-text {
    margin-bottom: 8px;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    
}
.personal-info {
    padding: 32px 0;
}
.personal_title {
    font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: #2e2f42;
        margin-bottom: 8px;
        text-align: center;
        
}
.personal_text {
    line-height: 1.5;
        letter-spacing: 0.02em;
        text-align: center;
        margin-bottom: 8px;
}
.personal-icons {
    display: flex;
    justify-content: center;
    gap: 24px;
}
.personal-icon-inst {
    width: 40px;
    height: 40px;
}
.personal-linc {
    display: flex;
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.personal-linc:hover {
    background-color: #404bbf;
}
.personal-linc:focus {
    background-color: #404bbf;
}


.icons {
    fill: #f4f4fd;
}

/* END PERSONAL START PORTFOLIO */
.portfolio-section {
    padding: 120px 0 120px 0;
}
.portfoliomain-title {
        font-size: 36px;
        line-height: 1.11;
        text-align: center;
        letter-spacing: 0.02em;
        text-transform: capitalize;
        color: #2e2f42;
        margin-bottom: 72px;
        
}
.portfolio-list {
display: flex;
flex-wrap: wrap;
column-gap: 24px;
row-gap: 48px;
}
.portfolio-list :hover {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 2px 1px rgba(46, 47, 66, 0.08);
}
.portfolio-list-content {
width: calc((100% - 48px) / 3);
transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.portfolio-input {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}
.portfolio-text {
    line-height: 1.5;
    letter-spacing: 0.02em;
}


.portfolio-icon {
    position: relative;
    overflow: hidden;
}


.portfoliosecondtitle {
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: #2e2f42;
        margin-bottom: 8px;
}

.icon-text {
    position: absolute;
    top: 0;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    padding: 40px 32px;
    background-color: #4d5ae5;
    height: 100%;
    width: 100%;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-list-content:hover .icon-text {
    transform: translateY(0%);
}


/* END PORTFOLIO */
/* FOOTER */
.footer-conteiner {
    display: flex;
    align-items: baseline;

}
.footertext {
    line-height: 1.5;
    color: #F4F4FD;
    letter-spacing: 0.02em;
    max-width: 264px;
}
.footer-logo-conteiner{
    margin-right: 120px;

}
.footer-backgraund {
    background-color: #2e2f42;
    padding: 100px 0;
}
.logo-footer {
    color: #4D5AE5;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.54px;
    text-transform: uppercase;
    font-family: "Raleway", sans-serif;
    display: inline-block;
    margin-bottom: 16px;

}

.studio-footer {
    color: #F4F4FD;
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 1, 17;
    letter-spacing: 0.54px;
    text-transform: uppercase;
}
.footer-social-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    margin-bottom: 16px;

}
.footer-social-icons {
    display: flex;
    gap: 16px;
}
.footer-social-icons-li {
    width: 40px;
    height: 40px;
}
.footer-linc {
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-linc:hover {
    background-color: #31d0aa;
}
.footer-linc:focus {
    background-color: #31d0aa;
}
.iconsfooter {
    fill: #f4f4fd;
}
.form-text {
    margin-bottom: 16px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #ffffff;
}
.form-email {
    display: flex;
    gap: 24px;
}
.form-input {
    width: 264px;
    height: 40px;
    border: 1px solid #ffffff;
    background-color: transparent;
    font-size: 12px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    padding-left: 16px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    color: #ffffff;

}
.form-input::placeholder {
    color #ffffff;
}
.form-button {
    min-width: 165px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer;
    background-color: #4D5AE5;
    border: none;
    border-radius: 4px; 
}
.telegram {
    margin-left: 16px;
    fill: #FFF;
}
.footer-form-conteiner {
    margin-left: auto;
}
/* modelwindow */
.model-window-conteiner {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.4);
    transition: opacity 250ms cubic-bezier(0.4,0,0.2,1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-window {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    width: 408px;
    min-height: 584px;
    background: #fcfcfc;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 1px 3px rgba(0, 0, 0, 0.12),
        0px 2px 1px rgba(0, 0, 0, 0.2);
        border-radius: 4px;
        transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);   
        padding: 72px 24px 24px 24px;
}
.modal-button-close {
    position: absolute;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e7e9fc;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-button-close:hover {
    background-color: #404bbf;
    border: none;
}
.modal-button-close:focus {
    background-color: #404bbf;
    border: none;
    
}
.close {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-button-close:hover .close {
    fill: #ffffff;
}
.modal-button-close:focus .close {
    fill: #ffffff;
}
.modal-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.02em;
    color: #2E2F42;
    margin-bottom: 16px;

}
.name-cont {
    margin-bottom: 8px;
}
.user-name {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
    display: block;
    margin-bottom: 4px;
}
.name-input {
    position: relative;

}
.user-name-form {
    width: 100%;
    height: 40px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    background-color: transparent;
    padding-left: 38px;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.user-name-form:focus {
    border-color: #4D5AE5;
}
.name-icon {
    position: absolute;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);  
}


.user-name-form:focus+.name-icon {
    fill: #4D5AE5;}

    .coment-cont {
        margin-bottom: 16px;
    }
    .coment-conteiner {
        width: 100%;
        height: 120px;
        font-size: 12px;
        line-height: 1.17;
        letter-spacing: 0.04em;
        color: rgba(46, 47, 66, 0.4);
        border: 1px solid rgba(46, 47, 66, 0.4);
        border-radius: 4px;
        background-color: transparent;
        padding: 8px 16px;
        outline: transparent;
        resize: none;
        transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
        .coment-conteiner:focus {
            border-color: #4D5AE5;
        }
        .chek-boks-cont {
            margin-bottom: 24px;

        }
       .user-privacy-text {
        font-size: 12px;
        line-height: 1.17;
        letter-spacing: 0.04em;
        color:#8e8f99;
       }
       .privasi-pl {
        width: 16px;
        height: 16px;
        border: 1px solid rgba(46, 47, 66, 0.4);
        border-radius: 2px;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
        display: inline-flex;
        align-items: center;
        justify-content: center;
        fill: transparent;
       }
       .privasi-link {
        color: #4d5ae5;
        text-decoration: underline;
       }
       .user-privacy-input:checked + .user-privacy-text .privasi-pl {
        background-color: #404bbf;
        border: none;
        fill: #F4F4FD;
       }
       .form-button-submit {
        display: block;
        min-width: 169px;
        height: 56px;
        font-family: "Roboto", sans-serif;
        font-size: 16px;
        font-weight: 500;
        line-height: 1.5;
        letter-spacing: 0.04em;
        color: #ffffff;
        cursor: pointer;
        background-color: #4D5AE5;
        border: none;
        border-radius: 4px;
        font-size: 16px;
        font-weight: 500;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        margin: 0% auto;
       }